<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1JHkIsrdWw6dG1c3M15pYuJwbrKffRiU</string>
	<key>GCM_SENDER_ID</key>
	<string>447061470523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ehealthDesktop</string>
	<key>PROJECT_ID</key>
	<string>healthcare-algorix</string>
	<key>STORAGE_BUCKET</key>
	<string>healthcare-algorix.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447061470523:ios:7521dfecbbee7f2cbb1b1e</string>
</dict>
</plist>